/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.sp-bet{
    justify-content: space-between;
}

.al-cen{
    align-items: center;
}

.mar-auto{
    margin: auto;
}

.blu{
    color: #0084fd;
}

.black{
    color: black;
}

.white{
    color: white;
}

.light-grey{
    color: #5a6e7f;
}

.purple{
    color: #9792e4;
}

.bold{
    font-weight: 600;
}

.bg-blu{
    background-color: #0084fd;
}

.bg-lightblu{
    background-color: #b5ddff;
}

.bg-white{
    background-color: white;
}

.bg-purple{
    background-color: #9792e4;
}

.width-big{
    width: 90%;
}

.font6{
    font-size: 6rem;
}

.lin-hei2{
    line-height: 2rem;
}

.single{
    width: 100%;
    margin: 1rem 0;
    /* width: calc((100% / 3) - 1rem); */
}

.double{
    width: 100%;
    margin: 1rem 0;
    /* width: calc(((100% / 3) * 2) - 1rem); */
}

.round-box{
    border-radius: 1.5rem;
}

.long-butt{
    padding: 0.8rem 4rem;
}

.pad05{
    padding: 0.5rem;
}

.pad1{
    padding: 1rem;
}

.pad-hor-2{
    padding: 0 2rem;
}

.mar-hor-1{
    margin: 0 1rem;
}

.mar-ver-2{
    margin: 2rem 0;
}

.mar-bot-5{
    margin-bottom: 5rem;
}

.text-cen{
    text-align: center;
}

nav{
    margin-bottom: 1.5rem;
}

nav li{
    float: left;
    list-style-type: none;
    padding: 0rem 1rem;;
}

a{
    color: white;
    text-decoration: none;
}

div.right-nav ul{
    display: none;
}

div.top-head, div.bottom-head{
    flex-wrap: wrap;
}

div.bottom-head div{
    text-align: center;
}

div.top-head img{
    width: 100%;
    margin-top: 2rem;
}

div.info-1 img{
    width: 90%;
}

div.info-1 .right i{
    padding: 0.8rem 0.9rem;
    margin-bottom: 2rem;
}

div.info-1 .left h2{
    font-size: 2.5rem
}

div.testimonial .img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 80%;
}

div.testimonial .test1{
    background-image: url(../img/testimonial1.jpg);
}

div.testimonial .test2{
    background-image: url(../img/testimonial2.jpg);
}

div.testimonial .test3{
    background-image: url(../img/testimonial3.jpg);
}

div.info-3>h2{
    font-size: 2rem;
}

div.cards{
    flex-wrap: wrap;
}

div.card{
    width: 100%;
    margin: 1rem 0;
}

div.info-3 div.card{
    padding-bottom: 3rem;
}

div.info-3 div.card h3{
    font-size: 4rem;
}

div.info-3 div.card h4{
    font-size: 1.8rem;
}

div.info-4 h2{
    font-size: 2rem;
}

div.info-4 .img{
    background-image: url(../img/about.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 80%;
}

div.info-4 div.cit p.bold{
    font-size: 1.5rem;
}

@media screen and (min-width: 480px) {
    
    .single{
        width: calc((100% / 3) - 2rem);
        margin: 0 1rem;
    }
    
    .double{
        width: calc(((100% / 3) * 2) - 2rem);
        margin: 0 1rem;
    }

    div.top-head{
        margin-bottom: 2rem;
    }

    div.top-head.al-cen{
        align-items: normal;
    }

    div.top-head, div.bottom-head{
        flex-wrap: nowrap;
    }

    div.info-2 div.testimonial.column{
        flex-direction: row;
    }

    div.info-2.text-cen div{
        text-align: left;
    }

    div.info-2 div.test-info{
        padding: 0 2rem;
    }

    div.testimonial .img{
        min-width: 10rem;
        max-width: 11rem;
    }

    div.cards{
        text-align: left;
    }

    div.card{
        width: calc((100% / 2) - 2rem);
        margin: 1rem;
    }
}

@media screen and (min-width: 900px) {
    
    div.top-head>div:first-child{
        display: flex;
    }

    .width-big{
        width: 75%;
    }

    div.right-nav i{
        display: none;
    }

    div.right-nav ul{
        display: block;
    }

    main div.info-1.column{
        flex-direction: row;
        width: 75%;
        margin: auto;
    }

    main div.info-1 div.left img{
        padding-bottom: 10rem;
    }

    main div.info-1 div.right{
        margin-top: 14rem;
    }

    main div.info-1 div.right img{
        width: 60%;
    }

    div.info-2{
        width: 75%;
        margin: auto;
    }

    div.cards{
        width: 75%;
        margin: auto;
    }

    div.card{
        width: calc((100% / 3) - 2rem);
        margin: 1rem;
    }
}